/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.V-Offset {
    margin-top: 2px;
}
.V-Offset1 {
    margin-top: 4px;
}
.V-Offset2 {
    margin-top: 8px;
}
.V-Offset3 {
    margin-top: 20px;
}
.V-Offset4 {
    margin-top: 40px;
}
.V-Offset5 {
    margin-top: 60px;
}

/* Bootstrap overrides */
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #e42d2d;
}

body {
    font-size: 18px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.form-group {
    margin-bottom: 20px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}


/* page-level styles */

.mb-20 {
    margin-bottom: 20px;
}

.gigs {
    list-style-type: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}

.gigs > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.gigs > li .details .artist {
    font-weight: bold;
    display: block;
}

.gigs > li .details .genre {
    font-size: 15px;
}


.gigs > li .actions {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .actions {
    display: block;
}

.gigs > li .GigEdit {
    padding-right: 5px;
}

.gigs > li .GigDelete {
    padding-left: 7px;
}

.gigs > li .divider {
    position: absolute;
    border-left: 1px solid black;
    left: 32px;
    top: 41px;
    bottom: 1px;
}